@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  [x-cloak] {
    display: none !important;
  }

  table {
    @apply w-full text-sm table-auto caption-bottom;

    & tr {
      @apply transition-colors border-b hover:bg-zinc-100;
    }

    & th {
      @apply p-4 font-semibold text-left align-middle whitespace-nowrap;
    }

    & td {
      @apply p-4 truncate align-middle max-w-56;
    }

    & th:first-child,
    & td:first-child {
      @apply pl-8;
    }

    & th:last-child,
    & td:last-child {
      @apply pr-8;
    }

    & th[data-tooltip-target] {
      @apply underline underline-offset-4 decoration-dashed decoration-primary-500 cursor-help;
    }

    & caption {
      @apply mt-4 text-sm text-zinc-200;
    }

    & thead {
      @apply bg-zinc-100;

      & tr {
        @apply border-b;
      }
    }

    & tbody {
      & tr:last-child {
        @apply border-0;
      }
    }

    & tfoot {
      @apply font-medium border-t bg-zinc-200/50;

      & tr:last {
        @apply border-b-0;
      }
    }
  }

  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
  }

  input[type="number"].appearance-none {
      -moz-appearance: textfield !important;
  }
}

@layer components {
  .form {
    @apply grid items-start gap-4;
  }

  .field {
    @apply grid gap-1;
  }

  .range-thumb,
  .range-thumb::-webkit-slider-runnable-track {
    @apply appearance-none cursor-pointer pointer-events-auto bg-zinc-200;
  }

  .range-thumb::-webkit-slider-thumb {
    @apply appearance-none cursor-pointer pointer-events-auto bg-zinc-200;
  }

  .hide-control::-webkit-inner-spin-button,
  .hide-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}