@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
}

@layer components {
  .form {
    @apply grid gap-4;
  }
  
  .field {
    @apply grid gap-1;
  }
}
